

.App{
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter' , sans-serif;
}
.AppGlass{
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.54);
}
